<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="wtKST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
            <bindingRedirect oldVersion="0.0.0.0-1.0.116.0" newVersion="1.0.116.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
      <wtKST.Properties.Settings>
         <setting name="KST_StartAsHere" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="KST_StartAsAway" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_ServerName" serializeAs="String">
            <value>www.on4kst.info</value>
         </setting>
         <setting name="KST_ServerPort" serializeAs="String">
            <value>23001</value>
         </setting>
         <setting name="KST_UserName" serializeAs="String">
            <value />
         </setting>
         <setting name="KST_Password" serializeAs="String">
            <value />
         </setting>
         <setting name="KST_Chat" serializeAs="String">
            <value>3 - Microwave</value>
         </setting>
         <setting name="KST_AutoConnect" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WinTest_INI_FileName" serializeAs="String">
            <value>C:\ProgramData\Win-Test\cfg\wt.ini</value>
         </setting>
         <setting name="UpdateInterval" serializeAs="String">
            <value>60</value>
         </setting>
         <setting name="KST_ShowBalloon" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="AS_Planes_MinAlt" serializeAs="String">
            <value>20000</value>
         </setting>
         <setting name="AS_MinDist" serializeAs="String">
            <value>300</value>
         </setting>
         <setting name="AS_MaxDist" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="AS_SCPRadius" serializeAs="String">
            <value>50</value>
         </setting>
         <setting name="AS_Active" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="AS_PlaneRadius" serializeAs="String">
            <value>200</value>
         </setting>
         <setting name="ShowBeacons" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="BeaconFileName" serializeAs="String">
            <value>beacons.lst</value>
         </setting>
         <setting name="WinTest_Port" serializeAs="String">
            <value>9871</value>
         </setting>
         <setting name="AS_Port" serializeAs="String">
            <value>9872</value>
         </setting>
         <setting name="KST_Loc" serializeAs="String">
            <value />
         </setting>
         <setting name="KST_Name" serializeAs="String">
            <value />
         </setting>
         <setting name="WinTest_Activate" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="AS_Timeout" serializeAs="String">
            <value>10</value>
         </setting>
         <setting name="AS_My_Name" serializeAs="String">
            <value>KST</value>
         </setting>
         <setting name="AS_Server_Name" serializeAs="String">
            <value>AS</value>
         </setting>
         <setting name="AS_QRG" serializeAs="String">
            <value>1.2G</value>
         </setting>
         <setting name="WindowLocation" serializeAs="String">
            <value>0, 0</value>
         </setting>
         <setting name="WindowSize" serializeAs="String">
            <value>1220, 768</value>
         </setting>
         <setting name="Band_50" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_70" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_144" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="Band_432" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="Band_1296" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="Band_2320" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_3400" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_5760" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_10368" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_24GHz" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_47GHz" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="Band_76GHz" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="KST_MaxDist" serializeAs="String">
            <value>1200</value>
         </setting>
         <setting name="UpgradeRequired" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_Show_Own_Messages" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WindowSplitterDistance1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WindowSplitterDistance2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AS_Local_Name" serializeAs="String">
            <value>AS</value>
         </setting>
         <setting name="AS_Local_Active" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="KST_Macro_1" serializeAs="String">
            <value>/CQ $CALL sked 23 cm ?</value>
         </setting>
         <setting name="KST_Macro_2" serializeAs="String">
            <value>/CQ $CALL pse QRG 23 cm?</value>
         </setting>
         <setting name="KST_Macro_3" serializeAs="String">
            <value>/CQ $CALL sked 13 cm ?</value>
         </setting>
         <setting name="KST_Macro_4" serializeAs="String">
            <value>/CQ $CALL pse QRG 13 cm?</value>
         </setting>
         <setting name="KST_Macro_5" serializeAs="String">
            <value>/CQ $CALL pse call $FREQ</value>
         </setting>
         <setting name="KST_Macro_6" serializeAs="String">
            <value>/CQ $CALL pse lsn $FREQ</value>
         </setting>
         <setting name="KST_Macro_7" serializeAs="String">
            <value>/CQ $CALL in QSO nw, I meep u</value>
         </setting>
         <setting name="KST_Macro_8" serializeAs="String">
            <value>/CQ $CALL in QSO nw, pse meep me later</value>
         </setting>
         <setting name="KST_Macro_9" serializeAs="String">
            <value />
         </setting>
         <setting name="KST_Macro_0" serializeAs="String">
            <value />
         </setting>
         <setting name="KST_M1" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M2" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M3" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M4" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M5" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M6" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M7" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M8" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="KST_M9" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="KST_M0" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="QRV_Local_Table_FileName" serializeAs="String">
            <value>qrv_local.xml</value>
         </setting>
         <setting name="WinTest_StationName" serializeAs="String">
            <value>wtKST</value>
         </setting>
         <setting name="WinTest_NetworkSync_active" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="QARTest_Sync_active" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WS_Active" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="WS_Username" serializeAs="String">
            <value />
         </setting>
         <setting name="WS_Password" serializeAs="String">
            <value />
         </setting>
         <setting name="WS_LoginURL" serializeAs="String">
            <value>https://www.airscout.app/page/dist/login.php?login=1</value>
         </setting>
         <setting name="WS_API_URL" serializeAs="String">
            <value>https://www.airscout.app/airscout/api/v1</value>
         </setting>
         <setting name="DXLog_Sync_active" serializeAs="String">
            <value>False</value>
         </setting>
       </wtKST.Properties.Settings>
   </userSettings>
</configuration>
