<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wtKST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wtKST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wtKST.Properties.Settings>
            <setting name="KST_ServerName" serializeAs="String">
                <value>www.on4kst.org</value>
            </setting>
            <setting name="KST_ServerPort" serializeAs="String">
                <value>23000</value>
            </setting>
            <setting name="KST_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="KST_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="KST_Chat" serializeAs="String">
                <value>3 - Microwave</value>
            </setting>
            <setting name="KST_AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinTest_QRV_FileName" serializeAs="String">
                <value>C:\\ProgramData\\Win-Test\\extras\\qrv.xdt</value>
            </setting>
            <setting name="WinTest_INI_FileName" serializeAs="String">
                <value>C:\\ProgramData\\Win-Test\\cfg\\wt.ini</value>
            </setting>
            <setting name="WinTest_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="WinTest_QRV_Table_FileName" serializeAs="String">
                <value>qrv.xml</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="KST_ShowBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AS_Planes_MinAlt" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="AS_MinDist" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AS_MaxDist" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AS_SCPRadius" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AS_Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AS_PlaneRadius" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowBeacons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeaconFileName" serializeAs="String">
                <value>beacons.lst</value>
            </setting>
            <setting name="WinTest_Port" serializeAs="String">
                <value>9871</value>
            </setting>
            <setting name="AS_Port" serializeAs="String">
                <value>9872</value>
            </setting>
            <setting name="KST_Loc" serializeAs="String">
                <value />
            </setting>
            <setting name="KST_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="WinTest_Activate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AS_Timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AS_My_Name" serializeAs="String">
                <value>KST</value>
            </setting>
            <setting name="AS_Server_Name" serializeAs="String">
                <value>AS</value>
            </setting>
            <setting name="AS_QRG" serializeAs="String">
                <value>1.2G</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1220, 768</value>
            </setting>
            <setting name="Band_144" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Band_432" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Band_1296" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Band_2320" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Band_3400" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Band_5760" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Band_10368" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Band_24GHz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Band_47GHz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Band_76GHz" serializeAs="String">
                <value>False</value>
            </setting>
        </wtKST.Properties.Settings>
     </userSettings>
    <applicationSettings>
        <wtKST.Properties.Settings>
            <setting name="KST_StartAsHere" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KST_StartAsAway" serializeAs="String">
                <value>True</value>
            </setting>
        </wtKST.Properties.Settings>
    </applicationSettings>
</configuration>